<!--
Landmarks
Chelsea Thompto
2021 -

Landmarks is an exploration of the ways artificial intelligence, and specifically facial recognition, fails to comprehend trans bodies (misgendering) and the threat this failure possesses to trans livelihood as these technologies become increasingly integrated into our daily lives. The work consists of an interactive website featuring compositions that explore these issues.

Landmarks Code & Artist Statement:
https://glitch.com/edit/#!/landmarks

Facial recognition powered by face-api.js:
https://github.com/justadudewhohacks/face-api.js/
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Landmarks - Chelsea Thompto</title>
  <!-- import icon -->
  <link rel="icon" href="/assets/landmarks-favicon3.png" />
  <!-- import stylesheet -->
  <link rel="stylesheet" href="/style.css" />
  <!-- import face-api.js -->
  <script src="../build/face-api.min.js"></script>
  <!-- import the main javascript file -->
  <script src="src/landmarks2.js" defer></script>
  <!-- import nav-link randomizer-->
  <script src="src/nav-links.js" defer></script>
</head>

<body>
  <!--Main Content-->
  <div>
    <h1 class="mid">Landmarks</h1>
    <br /><br /><br />
    <p class="mid">
      I am plagued by a question.
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br />
    <!--
      <p>
      When confronted by facial recognition.
      </p>
      -->
    <br /><br /><br />
    <p class="left">
      As a trans person, is it better to be seen accurately?
    </p>
    <br /><br /><br />
    <p class="right">
      Or not seen at all...
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <p class="mid">
      How does the algorithm see me? How does it guess what I'm feeling?
    </p>
    <br /><br /><br />
    <p class="left">
      Is there such a thing as a neutral expression? Can it tell the
      difference between a smile caused by a joke and one that masks rage?
    </p>
    <br /><br /><br />
    <p class="right">
      Do I want it to be able to tell the difference?
    </p>
    <br /><br /><br />
  </div>
  <!--Container for video and overlay from face-api.js.-->
  <div class="container">
    <video id="video" width="100%" height="100%" autoplay="true" loop="true" src="../assets/not_chelsea_1.mp4" muted></video>
    <div id="center">
    </div>
  </div>
  <div>
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <p class="mid">
      To be unknowable to a system may be as liberating as it is dangerous.
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <!--Footer: Links randomized with nav-links.js-->
  <div class="fn">
    <div id="nav-links">
      <div>
        <p class="mid">
          <a href="./stages.html">Stages</a>
        </p>
      </div>
      <div>
        <p class="mid">
          <a href="./empire.html">Empire</a>
        </p>
      </div>
      <div>
        <p class="mid">
          <a href="./machine.html">Machine</a>
        </p>
      </div>
      <div>
        <p class="mid">
          <a href="./rote.html">Rote</a>
        </p>
      </div>
    </div>
    <br /><br /><br />
    <p class="fn">
      (Note: The facial recognition used on this page is performed live but is not improved or
      modified based on this page. No data is collected or
      shared through this project.<br /><br />This project is best viewed on a
      non-mobile device. As a project in the early stages of development, it
      may not be fully compatible with all browsers and hardware.<br /><br />More
      information can be found by viewing the source code of this page, either
      by right clicking on the page and selecting "view source" or by going to
      <a href="https://github.com/cthompto/Landmarks">HERE</a>.)
    </p>
  </div>
  <!--Script for alert window about webcam facial recognition.
    <script type="text/javascript">
      alert(
        "Welcome to Landmarks, this interactive artwork explores facial recognition and the politics of technologies of visualization. Part of this exploration uses your webcam to display facial recognition outputs. Your data is not stored or shared during this process and the algorithm is not improved or modified based on your image. If you choose not to use your webcam, you can still see the text and layout of the site without the interactive visuals. This project is still in development and will eventually include a parallel version of the site using pre recorded video in place of live webcam feedback. To explore the code and development process, head to: https://glitch.com/edit/#!/landmarks"
      );
    </script>
    -->
</body>

</html>
