/* CSS files add styling rules to your content */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  display: flex;  
  flex-wrap: wrap;
  padding: 20px;
}

h1 {
  color: limegreen;
}

p {
  color: magenta;
}

p.center {
  text-align: center;
}

#container {
  width: 720px;
  height: 405px;
  position: relative;
  border:2px solid cyan;
}

#center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#video {
  align: center;
}

canvas {
  border:2px solid yellow;
  background-color: white;
}
