<!--
Empire (Landmarks)
Chelsea Thompto
2021 -

This came into being over the first week of Feb, no comments yet, still thinking about how to present this, if the quotes are too much and etc..

does it make sense? The connection of land to body here and Stone To Borges...

I think so

Landmarks Code & Artist Statement:
https://glitch.com/edit/#!/landmarks

Facial recognition powered by face-api.js:
https://github.com/justadudewhohacks/face-api.js/
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Landmarks - Empire</title>
    <!-- import icon -->
    <link rel="icon" href="https://cdn.glitch.com/87379bbc-5538-4084-871e-4b2c8fdc8527%2Flandmarks-favicon3.png?v=1620335222582" />
    <!-- import stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- import face-api.js -->
    <script src="build/face-api.min.js"></script>
    <!-- import the javascript file that drives the background wireframe face -->
    <script src="src/empire.js" defer></script>
    <!-- import nav-link randomizer-->
    <script src="src/nav-links.js" defer></script>
  </head>
  <body>
    <!--Main Content-->
    <h1 class="mid">Empire</h1>
    <br /><br />
    <p class="mid">
      A map of this (data) body larger than itself...
    </p>
    <br /><br />
    <!--Container for video, black overlay, text, and overlay from face-api.js.-->
    <div class="container5">
      <video
        id="video"
        width="100%"
        height="100%"
        autoplay="true"
        visibilty="hidden"
        muted
      ></video>
      <div id="screentest">
      </div>
      <div id="centerem">
      </div>
      <div id="centerem2">
        <div>
          <p class="em2">
            …In that Empire, the Art of Cartography attained such Perfection
            that the map of a single Province occupied the entirety of a City,
            and the map of the Empire, the entirety of a Province. In time,
            those Unconscionable Maps no longer satisfied, and the Cartographers
            Guilds struck a Map of the Empire whose size was that of the Empire,
            and which coincided point for point with it. The following
            Generations, who were not so fond of the Study of Cartography as
            their Forebears had been, saw that that vast Map was Useless, and
            not without some Pitilessness was it, that they delivered it up to
            the Inclemencies of Sun and Winters. In the Deserts of the West,
            still today, there are Tattered Ruins of that Map, inhabited by
            Animals and Beggars; in all the Land there is no other Relic of the
            Disciplines of Geography.
            <br />
            <br />
            — Suarez Miranda, Viajes de varones prudentes, Libro IV, Cap. XLV,
            Lerida, 1658
          </p>
        </div>
        <div class="container3">
          <p class="fnem">
            <br /><br />
            <b>On Exactitude in Science</b> <br />
            Jorge Luis Borges, <i>Collected Fictions</i>, translated by Andrew
            Hurley
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="container3">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <p class="mid">
        The stakes are different for my body, the body of a transwoman, a body
        upon which so many claims are being made and remade.
      </p>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <div class="container3">
      <div id="container4">
        <p class="em2">
          Bodies are screens on which we see projected the momentary settlements
          that emerge from ongoing struggles over beliefs and practices within
          the academic and medical communities. These struggles play themselves
          out in arenas far removed from the body.
        </p>
        <br />
      </div>
    </div>
    <br /><br /><br /><br />
    <div class="container3">
      <p class="fnem">
        <b>The <i>Empire</i> Strikes Back: A Posttranssexual Manifesto</b>
        <br />
        Sandy Stone
      </p>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <!--Footer: Links randomized with nav-links.js-->
    <div class="fn">
      <div id="nav-links">
        <div>
          <p class="mid">
             <a href="/stages.html">Stages</a>
          </p>
        </div>
        <div>
          <p class="mid">
            <a href="/machine.html">Machine</a>
          </p>
        </div>
        <div>
          <p class="mid">
            <a href="/rote.html">Rote</a>
          </p>
        </div>
        <div>
          <p class="mid">
            <a href="/index.html">Landmarks</a>
          </p>
        </div>
      </div>
      <br /><br /><br />
      <p class="fn">
        (Note: The facial recognition used on this page is not improved or
        modified based on your engage with this page. No data is collected or
        shared through this project.<br /><br />This project is best viewed on a
        non-mobile device. As a project in the early stages of development, it
        may not be fully compatible with all browsers and hardware.<br /><br />More
        information can be found by viewing the source code of this page, either
        by right clicking on the page and selecting "view source" or by going to
        <a href="https://github.com/cthompto/Landmarks">HERE</a>.)
      </p>
    </div>
  </body>
</html>
