<!--
Rote (Landmarks)
Chelsea Thompto
2021 -

Inviting viewers to draw as a practice for thinking through the issue of facial landmark detection and what we do by rote.

Using AI generated faces and an online drawing application.

Landmarks Code & Artist Statement:
https://glitch.com/edit/#!/landmarks

AI generated portraits from:
https://thispersondoesnotexist.com/

Drawing application powered by Paper.js:
http://paperjs.org/
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Landmarks - Rote</title>
    <!-- import icon -->
    <link rel="icon" href="https://cdn.glitch.com/87379bbc-5538-4084-871e-4b2c8fdc8527%2Flandmarks-favicon3.png?v=1620335222582" />
    <!-- import stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Load the Paper.js library -->
    <script type="text/javascript" src="/paper-full.js"></script>
    <!-- Load your Paper.js file -->
    <script
      type="text/paperscript"
      src="src/rote.js"
      canvas="drawingBoard"
    ></script>
    <!-- import nav-link randomizer-->
    <script src="src/nav-links.js" defer></script>
    <script src="src/download.js" defer></script>
  </head>
  <body>
    <!--Main Content-->
    <div class="containerm2">
      <h1 class="mid2">Rote</h1>
      <br /><br />
    </div>
    <div>
      <br /><br />
      <p class="mid">
        How do we know a body is a body, a face a face?
      </p>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <div class="container8">
        <p>
          A question many tech companies are working tirelessly to automate an
          answer to, one upon which futures are being built, decided, and
          bought.
        </p>
      </div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <div class="container6">
        <p class="right">
          Yet we preform this task day in and day out, on screens and in person.
          Passively placing people and things into categories. A task so rote is
          difficult to imagine it as a task at all.
        </p>
      </div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <div class="container8">
        <p>
          What happens if we ourselves face this task as we have programmed
          machines to face it, isolating the problem and giving it rules:
        </p>
      </div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
    </div>
    <div class="containerm3">
      <dl class="fnem2">
        <b>Facial Landmark Rules:</b><br /><br />
        Brows: 5 Points and 4 Lines Each<br /><br />
        Eyes: 6 Points and 6 Lines Each<br /><br />
        Nose: 9 Points and 8 Lines<br />
        <dd>
          4 Points from Bridge To Tip of Nose<br />
          5 Points from Left to Right Nostril<br /><br />
        </dd>
        Lips: 20 Points and 20 Lines<br />
        <dd>
          10 Points for Upper Lip<br />
          10 Points for Lower Lip<br /><br />
        </dd>
        For Each Lip:<br />
        <dd>
          5 Points on Outer Edge<br />
          3 Points on Inner Edge<br />
          Corners overlap<br /><br />
        </dd>
        Jaw: 17 Points and 16 Lines<br />
        <dd>8 per side ending at Ear</dd>
        <br />
      </dl>
      <br />
    </div>
    <div>
      <br /><br />
      <br /><br />
      <p>
        And then applying those rules:
      </p>
      <br /><br />
      <br /><br />
      <div class="container7">
        <p class="mid">
          The face below does not belong to a human body, it was created using
          an algorithm, specifically,
          <a href="https://www.thispersondoesnotexist.com/"
            >a generative adversarial network</a
          >
          trained on 70,000 faces and tasked with creating new ones. It is a
          composite image: an assembly of textures, shapes, and colors gathered
          into formations according to the algorithms rules for what constitutes
          a face.
        </p>
      </div>
      <br /><br />
      <br /><br />
    </div>
    <div class="drawcont">
      <div class="drawleft">
        <div class="drawex">
          <p class="em">
            Click and drag to create facial landmarks. <br /><br />
            Each line will begin with a magenta circle where the mouse is first
            clicked and will end with another magenta circle where the mouse
            button is released. A cyan line will be created along the path your
            cursor takes and will automatically be smoothed upon releasing the
            mouse button. <br />
            <br />Pressing "a" will undo the last line created.
          </p>
        </div>
        <br /><br />
        <div>
          <dl class="fnem2">
        <b>Facial Landmark Rules:</b><br /><br />
        Brows: 5 Points and 4 Lines Each<br /><br />
        Eyes: 6 Points and 6 Lines Each<br /><br />
        Nose: 9 Points and 8 Lines<br />
        <dd>
          4 Points from Bridge To Tip of Nose<br />
          5 Points from Left to Right Nostril<br /><br />
        </dd>
        Lips: 20 Points and 20 Lines<br />
        <dd>
          10 Points for Upper Lip<br />
          10 Points for Lower Lip<br /><br />
        </dd>
        For Each Lip:<br />
        <dd>
          5 Points on Outer Edge<br />
          3 Points on Inner Edge<br />
          Corners overlap<br /><br />
        </dd>
        Jaw: 17 Points and 16 Lines<br />
        <dd>8 per side ending at Ear</dd>
        <br />
      </dl>
        </div>
        <br /><br />
        <!--Drawing download button.-->
        <div class="rote">
          <br /><br />
          <a class="rote" id="download" download="rote.png">
            <button class="rote" type="button" onclick="download()">
              Download Drawing
            </button>
          </a>
        </div>
      </div>
      <!--Drawing application with generated face.-->
      <div class="drawright">
        <canvas
          id="drawingBoard"
          width="800"
          height="1000"
          crossorigin="anonymous"
          allow-downloads
        ></canvas>
      </div>
    </div>
    <div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <div class="container7">
        <p class="mid">
          What makes a face a face? A body a body?
        </p>
      </div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <div class="container8">
        <p>
          Is this face less real because it was made by a machine?
        </p>
      </div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <div class="container7">
        <p class="mid">
          Why?
        </p>
      </div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br /><br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <div class="container8">
        <p>
          Is it a face(or not)? Is it male or female? Is it happy, sad, neutral,
          angry, fearful, disgusted, or surprised? How chooses and encodes these
          categories?
        </p>
      </div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <div class="container7">
        <p class="mid">
          How do we know, by rote, that a body is a body, a face a face?
        </p>
      </div>
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
    </div>
    <!--Footer: Links randomized with nav-links.js-->
    <div class="fn">
      <br />
      <br />
      <div id="nav-links">
        <div>
          <p class="mid">
            <a href="/stages.html">Stages</a>
          </p>
        </div>
        <div>
          <p class="mid">
            <a href="/empire.html">Empire</a>
          </p>
        </div>
        <div>
          <p class="mid">
            <a href="/machine.html">Machine</a>
          </p>
        </div>
        <div>
          <p class="mid">
            <a href="/index.html">Landmarks</a>
          </p>
        </div>
      </div>
      <br />
      <br />
      <p class="fnmid"></p>
      <br /><br /><br /><br />
      <!--
      <p class="fn">
        (Note: The facial recognition used on this page is not improved or
        modified based on your engage with this page. No data is collected or
        shared through this project.<br /><br />This project is best viewed on a
        non-mobile device. As a project in the early stages of development, it
        may not be fully compatible with all browsers and hardware.<br /><br />More
        information can be found by viewing the source code of this page, either
        by right clicking on the page and selecting "view source" or by going to
        <a href="https://glitch.com/edit/#!/landmarks">HERE</a>.)
      </p>
      -->
    </div>
  </body>
  <!--Load image to be used by drawing application.-->
  <img
    id="bgImg"
    src="https://cdn.glitch.com/87379bbc-5538-4084-871e-4b2c8fdc8527%2Fmachine1.jpg?v=1613855450344"
    style="display: none;"
    crossorigin="anonymous"
  />
</html>
